/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    max-width: 500px;
}


/* HLAVICKA */

.hlavicka {
    color: white;
    background-image: url(images/island-hlavicka.jpg);
    background-size: cover;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 2px 3px #808080;
}

.titulek {
    font-family: 'Raleway', serif;
}

.autor {
    font-style: italic;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

}

.menu a {
    text-decoration: none;
    margin: 0;
    padding: 1em;
    color: grey;

}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid gainsboro;

}


/* OBSAH */

.obsah {
    margin: 20px;
}


img {
    max-width: 500px;

/* FOTOGALERIE */




/* PATICKA */
